.root {
  -fx-background-color: radial-gradient(center 50% 50% , radius 65% , rgb(120,162,210), rgb(15,47,90)); /* rgb(120,162,210), rgb(15,47,90) */
}

Label {
 -fx-font-family: "Arial";
 -fx-text-fill: white;
 -fx-font-size: 15px;
}

Button {
  -fx-text-fill: white;
  -fx-focus-traversable: false;
}

.bold {
  -fx-font-weight: bold;
}
.subtitle {
  -fx-font-family: "Arial Black", "Arial";
  -fx-font-size: 16px;
}
.paraghraph {
  -fx-font-size: 14px;
}

.addButton {
  -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #6e9533 0%, #6a8147 100%), #343f23, #a8cc66, radial-gradient(center 50% 50%, radius 100%, #a8cc66, #5b6e3f);
}
.addButton:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #6e9533 0%, #6a8147 100%), #343f23, #a8cc66, radial-gradient(center 50% 50%, radius 100%, #c2e87d, #5b6e3f);
}
.addButton:pressed {
  -fx-background-color: linear-gradient(from 0% 50% to 0% 50%, #6e9533 0%, #6a8147 100%), #343f23, #a8cc66, radial-gradient(center 50% 50%, radius 100%, #a8cc66, #5b6e3f);
}

.removeButton {
  -fx-base: orangered;
}

.addBg {
  -fx-background-color: #00000050;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
  -fx-border-color: #fff;
  -fx-border-radius: 10px;
}
.rulesBg {
  -fx-background-color: #00000050;
  -fx-background-radius: 10px;
  -fx-padding: 5px 10px 10px 10px;
  -fx-border-color: #fff;
  -fx-border-radius: 10px;
}

.bottomBoxBg {
  -fx-background-color: #00000050;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
  -fx-border-color: #fff;
  -fx-border-radius: 10px;
}

.bottomButtons {
  -fx-base: orange;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}
