/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* GLOBAL STYLE */
.root {
  -fx-background-color: radial-gradient(center 50% 50% , radius 65% , rgb(120,162,210), rgb(15,47,90)); /* rgb(120,162,210), rgb(15,47,90) */
}

Text {
	-fx-font-family: "Arial";
	-fx-fill: white;
}

/* RIGHT USER BOX STYLE */
/* User's names style */
.userNames {
	-fx-font-size: 8;
}
/* hover animation */
.userImage:hover {
	-fx-scale-x: 0.6;
	-fx-scale-y: 0.6;
}
/* VBox style */
#usersBox {
	-fx-background-color: #00000050;
	-fx-background-radius: 20px;
}

/* MISSION VBOX STYLE */
.missionBox {
	-fx-background-color:  #00000050;
	-fx-background-radius: 50;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 50;
}
.missionBox:hover {
  -fx-scale-x: 0.65;
	-fx-scale-y: 0.65;
}

.cardNumber {
  -fx-font-family: "Arial Black", "Arial";
  -fx-font-size: 50;
  -fx-text-fill: white;
  -fx-stroke: black;
  -fx-stroke-width: 7px;
}

/* STATUS BAR */
.statusBar {
  -fx-background-color: #00000050;
  -fx-background-radius: 50;
  -fx-border-width: 2;
  -fx-border-color: white;
  -fx-border-radius: 50;
  -fx-scale-x: 0.60;
	-fx-scale-y: 0.60;
}
.statusBar_textArea .scroll-pane {
  -fx-background-color: transparent;
}
.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}
.text-area .scroll-bar:horizontal {
    -fx-pref-height: 1;
    -fx-opacity: 0;
}
.statusBar_textArea .scroll-pane .viewport{
  -fx-background-color: transparent;
}
.statusBar_textArea .scroll-pane .content{
  -fx-background-color: transparent;
}
.statusBar_overlay {
  -fx-background-color: linear-gradient(to top, #00000000, #00000080 60%);
  -fx-background-radius: 50;
}


/* TOP TOOLBAR ICONS SYLE */
.toolbarIcon {
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.2, 0, 0);
}
.toolbarIcon:hover {
	-fx-effect: dropshadow(three-pass-box, black, 15, 0.4, 0, 0);
	-fx-scale-x: 0.93;
	-fx-scale-y: 0.93;
}
.toolbarIcon:pressed {
    -fx-effect: dropshadow(three-pass-box, black, 20, 0.6, 0, 0);
}



/* TERRITORY STYLE */
SVGPath {
    -fx-opacity: 1;
    -fx-stroke: black;
    -fx-stroke-width: 1.5;
}
/* CONTINENTS */
.northAmerica {
	-fx-fill: SANDYBROWN;
}
.northAmerica:hover {
	-fx-fill: #E68761;
}
.northAmerica:pressed {
	-fx-fill: #CC6D47;
}
.southAmerica {
	-fx-fill: LIGHTBLUE;
}
.southAmerica:hover {
	-fx-fill: #94BFCD;
}
.southAmerica:pressed {
	-fx-fill: #7AA5B3;
}
.europa {
	-fx-fill: THISTLE;
}
.europa:hover {
	-fx-fill: #BFA6BF;
}
.europa:pressed {
	-fx-fill: #A58CA5;
}
.oceania {
	-fx-fill: PEACHPUFF;
}
.oceania:hover {
	-fx-fill: #E6C1A0;
}
.oceania:pressed {
	-fx-fill: #CCA786;
}
.africa {
	-fx-fill: BURLYWOOD;
}
.africa:hover {
	-fx-fill: #C59F6E;
}
.africa:pressed {
	-fx-fill: #AB8554;
}
.asia {
	-fx-fill: LIGHTGREEN;
}
.asia:hover {
	-fx-fill: #77D577;
}
.asia:pressed {
	-fx-fill: #5DBB5D;
}


.bonusText {
	-fx-fill: black;
	-fx-font-family: "Arial Black", Arial;
	-fx-font-size: 18px;
}

.bonusLabel {
	-fx-text-fill: white;
	-fx-font-family: "Arial Black", Arial;
	-fx-font-size: 14px;
}

.bonusCircle1 {
	-fx-fill: SANDYBROWN;
}
.bonusCircle2 {
	-fx-fill: LIGHTBLUE;
}
.bonusCircle3 {
	-fx-fill: BURLYWOOD;
}
.bonusCircle4 {
	-fx-fill: LIGHTGREEN;
}
.bonusCircle5 {
	-fx-fill: THISTLE;
}
.bonusCircle6 {
	-fx-fill: PEACHPUFF;
}
