/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* GLOBAL STYLE */
.root {
  -fx-background-color: radial-gradient(center 50% 50% , radius 65% , rgb(120,162,210), rgb(15,47,90)); /* rgb(120,162,210), rgb(15,47,90) */
}

Text {
	-fx-font-family: "Arial";
	-fx-fill: white;
}


/* RIGHT USER BOX STYLE */
/* User's names style */
.userNames {
	-fx-font-size: 8;
}
/* hover animation */
.userImage:hover {
	-fx-scale-x: 0.6;
	-fx-scale-y: 0.6;
}
/* VBox style */
#usersBox {
	-fx-background-color: #00000050;
	-fx-background-radius: 20px;
}

/* MISSION VBOX STYLE */
.missionBox {
	-fx-background-color:  #00000050;
	-fx-background-radius: 50;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 50;
}
.missionBox:hover {
  -fx-scale-x: 0.65;
	-fx-scale-y: 0.65;
}

/* STATUS BAR */
.statusBar {
  -fx-background-color: #00000050;
  -fx-background-radius: 50;
  -fx-border-width: 2;
  -fx-border-color: white;
  -fx-border-radius: 50;
  -fx-scale-x: 0.60;
	-fx-scale-y: 0.60;
}
.statusBar_textArea .scroll-pane {
  -fx-background-color: transparent;
}
.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}
.text-area .scroll-bar:horizontal {
    -fx-pref-height: 1;
    -fx-opacity: 0;
}
.statusBar_textArea .scroll-pane .viewport{
  -fx-background-color: transparent;
}
.statusBar_textArea .scroll-pane .content{
  -fx-background-color: transparent;
}
.statusBar_overlay {
  -fx-background-color: linear-gradient(to top, #00000000, #00000080 60%);
  -fx-background-radius: 50;
}


/* EXIT BUTTON STYLE */
#exitButton{
	-fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-shape: "M990,499.3c0-11.9-4.1-22.8-11-31.5c-2.1-3.4-4.6-6.7-7.5-9.6L810.9,297.7c-19.8-19.8-51.9-19.8-71.7,0c-19.8,19.8-19.8,51.9,0,71.7l79.3,79.3l-387.4,0c-28,0-50.7,22.7-50.7,50.7c0,28,22.7,50.7,50.7,50.7l387.2,0l-76.5,76.5c-19.8,19.8-19.8,51.9,0,71.7c9.9,9.9,22.9,14.8,35.8,14.8c13,0,25.9-4.9,35.8-14.8l160.6-160.6c5-5,8.8-10.9,11.3-17.1C988.3,514,990,506.9,990,499.3zM647.9,755.4c-28,0-50.7,22.7-50.7,50.7v81.7H111.4V112.2h485.8v97.6c0,28,22.7,50.7,50.7,50.7c28,0,50.7-22.7,50.7-50.7V91.3c0-44.4-36.1-80.5-80.5-80.5H90.5C46.1,10.8,10,46.9,10,91.3v817.3c0,44.4,36.1,80.5,80.5,80.5H618c44.4,0,80.5-36.1,80.5-80.5V806.1C698.6,778.1,675.9,755.4,647.9,755.4z";
    -fx-effect: dropshadow(three-pass-box, black, 15, 0.2, 0, 0);
}

#exitButton:hover {
	-fx-effect: dropshadow(three-pass-box, black, 20, 0.4, 0, 0);
}

#exitButton:pressed {
    -fx-effect: dropshadow(three-pass-box, black, 25, 0.6, 0, 0);
}



/* TERRITORY STYLE */
SVGPath {
    -fx-opacity: 1;
    -fx-stroke: black;
    -fx-stroke-width: 1.5;
}
/* CONTINENTS */
.northAmerica {
	-fx-fill: SANDYBROWN;
}
.northAmerica:hover {
	-fx-fill: #E68761;
}
.northAmerica:pressed {
	-fx-fill: #CC6D47;
}
.southAmerica {
	-fx-fill: LIGHTBLUE;
}
.southAmerica:hover {
	-fx-fill: #94BFCD;
}
.southAmerica:pressed {
	-fx-fill: #7AA5B3;
}
.europa {
	-fx-fill: THISTLE;
}
.europa:hover {
	-fx-fill: #BFA6BF;
}
.europa:pressed {
	-fx-fill: #A58CA5;
}
.oceania {
	-fx-fill: PEACHPUFF;
}
.oceania:hover {
	-fx-fill: #E6C1A0;
}
.oceania:pressed {
	-fx-fill: #CCA786;
}
.africa {
	-fx-fill: BURLYWOOD;
}
.africa:hover {
	-fx-fill: #C59F6E;
}
.africa:pressed {
	-fx-fill: #AB8554;
}
.asia {
	-fx-fill: LIGHTGREEN;
}
.asia:hover {
	-fx-fill: #77D577;
}
.asia:pressed {
	-fx-fill: #5DBB5D;
}
