.root {
  -fx-background-color: radial-gradient(center 50% 50% , radius 65% , rgb(120,162,210), rgb(15,47,90)); /* rgb(120,162,210), rgb(15,47,90) */
}

Button {
	-fx-base: orange;
	-fx-font-family: "Arial Black", "Arial";
	-fx-text-fill: Black;
}